$small: 600px;

$bg: #FFF;
$gray: #989898;
$gray2: #4F4F4F;;
$active: #B3B3B3;
$neutral: #647666;
$blockColor: #6F7970;

$headerHeight: 106px;

$transitionTime: 0.5s;


@mixin maxWrapper() {
  max-width: 1700px;
  margin: auto;
}
@mixin wrapper() {
  padding: 0 30px;
}