@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    background-color: #9bd6fd;
    min-width: 310px;
}

.main_block {
    height: calc(100vh - 225px);
    min-height: 400px;
    width: 100%;
    position: relative;
}

.main_image {
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/kran.png");
    background-color: #9bd6fd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}

.main_text {
    position: absolute;
    font-size: 30px;
    color: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.main_scroll {
    position: absolute;
    z-index: 2;
    bottom: 110px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
}
.main_scroll a {
    padding-top: 80px;
    position: relative;
}
.main_scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.main_scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.main_scroll a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .30s;
    animation-delay: .30s;
}
.main_scroll a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header {
    width: 100%;
    height: 225px;
}

.header_wrapper {
    max-width: 1800px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 150px;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.name {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name h1, .name p {
    margin: 0;
}
.name p {
    font-style: italic;
    font-weight: 300;
    width: 100%;
    font-size: 18.5px;
}

.info_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_block img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.contacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts .telephone {
    margin-top: 15px;
}
.contacts .email {
    margin-bottom: 15px;
}
.contacts p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    color: white;
    text-align: right;
}
.contacts a {
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.burger {
    display: none;
}
.burger:hover {
    cursor: pointer;
}
.burger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav {
    border-bottom: 3px solid white;
    color: white;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.nav ul li, .nav ul .language {
    font-size: 1.3rem;
    flex: 1;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav ul .language svg:hover {
    cursor: pointer;
}
.nav ul li.active {
    border-bottom: 2px solid black;
}
.nav ul li a {
    color: white;
}
.nav ul li:hover a {
    color: black;
}
.nav ul li:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    /*border-bottom: 2px solid white;*/
}
@media screen and (max-width: 1750px)  {
    .nav ul {
        width: 100%;
    }
    .nav ul li {
        font-size: 1.1rem;
    }
    .main_text {
        font-size: 25px;
    }
}
@media screen and (max-width: 1200px)  {
    .header_wrapper {
        width: 100%;
    }
    .nav ul li {
        font-size: 1rem;
    }
    .main_text {
        font-size: 20px;
    }
}
@media screen and (max-width: 1000px)  {
    header {
        height: 150px;
    }
    .header_wrapper {
        width: 100%;
    }
    .nav {
        display: none;
    }
    .info_block {
        display: none;
    }
    .main_block {
        height: calc(100vh - 150px);
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
    .main_text {
        font-size: 18px;
    }
}
@media screen and (max-width: 680px)  {
    .logo {
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    .logo object {
        width: 100px;
        height: 100px;
    }
    .name h1 {
        font-size: 20px;
    }
    .name p {
        font-size: 11.5px;
    }
    .main_text {
        font-size: 15px;
    }
}
@media screen and (max-width: 530px)  {
    .logo .name {
        display: none;
    }
    .main_text {
        font-size: 11px;
    }
}

.main_wrapper {
    width: 80%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main_wrapper section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 20px 0;
}
.main_wrapper .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_wrapper .text {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_wrapper .text p {
    width: 70%;
    font-size: 27px;
    text-align: justify;
}
.main_wrapper .text p.small {
    font-size: 20px;
}

.image img {
    height: 350px;
    margin-bottom: 10px;
}
.image .description {
    font-style: italic;
    font-size: 17px;
}

.main_wrapper section.column {
    flex-direction: column;
    align-items: center;
}
.main_wrapper section.title h1 {
    flex: 1;
    font-size: 35px;
    margin-bottom: 25px;
}
.main_wrapper section .contacts_buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    min-width: 555px;
    margin-top: 30px;
}
.main_wrapper section .contacts_buttons .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #61c0ff;
}
.main_wrapper section .contacts_buttons .contact p {
    font-size: 25px;
    font-weight: bold;
}
.main_wrapper section .contacts_buttons .contact svg {
    width: 30px;
    margin-right: 5px
}

img.team {
    width: 100%;
}

.main_wrapper section .contacts_buttons .contact:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
    background-color: #9bd6fd;
}

.history h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 35px;
}

/*@media screen and (max-width: 1500px)  {*/
/*    .main_wrapper section .contacts_buttons {*/
/*        width: 100%;*/
/*    }*/
/*    .main_wrapper section .contacts_buttons .contact p {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/
@media screen and (max-width: 900px)  {
    .main_wrapper section .contacts_buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 0px;
        width: 100%;
    }
    .main_wrapper section .contacts_buttons .contact {
        margin-bottom: 20px;
        padding: 7px 21px;
    }
    .main_wrapper section .contacts_buttons .contact p {
        font-size: 20px;
    }
    .main_wrapper section .contacts_buttons .contact svg {
        margin-left: 6px;
    }
}
@media screen and (max-width: 1000px)  {
    .main_wrapper .text p {
        width: 90%;
        min-width: 280px;
        margin: 30px 0;
    }
}
@media screen and (max-width: 680px)  {
    .main_wrapper section {
        margin: 20px 0 20px 0;
    }
    .image img {
        height: 150px;
        margin-bottom: 10px;
    }
    .history h1 {
        margin: 0;
    }
}

footer {
    height: 250px;
    width: 100%;
    background-color: black;
    margin-top: 30px;
    color: white;
}

.footer_wrapper {
    width: 80%;
    max-width: 1800px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.foot_logo {
    padding-right: 10%;
    border-right: 2px solid white;
}

.partner {
    flex: 1;
    margin: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.partner .text {
    margin-right: 20px;
}
.partner h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.partner p {
    font-weight: lighter;
    margin-bottom: 10px;
}
.partner .text a {
    color: white;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    border-left: 2px solid white;
}
.links a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a:hover {
    background-color: #9bd6fd;
}
.links img {
    width: 50px;
}
.partner .partnerLogo img {
    width: 150px;
}

@media screen and (max-width: 1000px)  {
    .partner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .partner .partnerLogo img {
        margin-top: 20px;
        width: 100px;
    }
}
@media screen and (max-width: 850px)  {
    .partner h1 {
        font-size: 18px;
    }
    .partner p {
        font-size: 14px;
        font-weight: lighter;
    }
}
@media screen and (max-width: 700px)  {
    .footer_wrapper {
        justify-content: center;
    }
    .partner {
        display: none;
    }
    .links {
        border: none;
        padding-left: 5%;
    }
}


/*
    SECTIONS
 */
.information h1 {
    text-align: center;
}
.information .photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px 30px;
}
.information .photos .photo {
    flex: 1 16%;
    min-width: 280px;
}
.information .photos .photo img {
    width: 100%;
}
